body{
    background-color: #B6FFCE;
    text-align: center;
}

.init{
    color: #FFA8A8;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 75px;
}

.init:hover{
    color: #F6FFA4;
}

img{
    height: 250px;
    width: 250px;
    margin: 100px;
}

p{
    margin: 0px;
}